/* ==========================================================================
#TYPOGRAPHY
========================================================================== */

$font-heading : 'Eczar', serif;
$font-text : 'Work Sans', sans-serif;


/* ==========================================================================
  #COLORS
  ========================================================================== */

$white : #fff;
$black : #000;
$purple : #492e8d;
$gray : #414859;

$text : $gray;
$bgColor : #f8f8fb;

/* ==========================================================================
  #RESPONSIVE
  ========================================================================== */

$mobileWidth : 620px;
$mobilePadding: 20px;

$maxWidth : 600px;

