$c-hero : '.c-hero';

#{$c-hero} {
  max-width: $maxWidth;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;

  font-family: $font-heading;
  font-size: 80px;
  line-height: 1;
  font-weight: 700;
  text-align: center;

  color: $white;
  background-color: $purple;
}
