$c-top : '.c-top';

#{$c-top} {
  max-width: $maxWidth;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;

  font-family: $font-text;
  font-size: 12px;
  text-align: center;

  background-color: #e1e7ed;
}
