.brand--drifter {
  @include theme-dark();
  background:#000;
  background-color:#000;

  .main-content {
    background-color:#302A25;
    background-image: url('https://marketing-image-production.s3.amazonaws.com/uploads/1e371589bdad1636f3d6fba598035f54647033f9a705e9a8e2f0ac92ba94ee7b841c4a4d993898d71e32afc3281495d2f7b6c393e79ddccc615fdb2a63e87c32.jpg');
    background-repeat: no-repeat;
  }
  
  .content-heading__logo img {
    width:200px;
    height:50px;
  }
  
  .content-heading__separator {
    background-color:#fff;
  }
  
  .content-heading__text {
    color:#fff;
    font-family:$roboto;
    font-weight:400;
  }
  
  .article__content {
    background: #1C1037;
  }
  
  #content-article-1 .article__content {
    background: #000;
  }
  
  #content-article-2 .article__content {
    background: #d41d0e;
  }
  
  #content-article-3 .article__content {
    background: #000;
  }
  
  .article__title,
  .article__text {
    color:#fff;
    font-family:$roboto;
  }
  
  .article__title{
    font-weight:700;
    text-transform: uppercase;
  }

  .article__text {}
  
}


