.brand--dumaurier {
  background:#eee;
  background-color:#eee;
  
  .main-content {
    background-color:#fff;
  }
  
  .content-heading__logo img {
    width:360px;
    height:44px;
  }
  
  .content-heading__text {
    color:#666;
    font-family:$roboto;
    font-weight:300;
  }
  
  .article__content {
    background: #254090;
  }
  
  .article__title,
  .article__text {
    color:$white;
    font-family:$roboto;
  }
  
  .article__title{
    font-weight:300;
    text-transform: uppercase;
  }

  .article__text {}
  
}