.brand--fifty {
  color:$black;
  background:#eee;
  background-color:#eee;
  
  .main-content {
    background-color:#fff;
    background-image: url('https://marketing-image-production.s3.amazonaws.com/uploads/a92c6345fe02fdf468ef4fed446ec9d3195096fd1422361c347199d3203ef229cb7b068e01874c29aac5f4493bc994fddc600b2469be5d861f872ec3c7e1d513.jpg');
    background-repeat: no-repeat;
  }
  
  

  
  .content-heading__logo img {
    width:190px;
    height:70px;
  }
  
  #content-article-1 .article__content {
    background: #B53689;
  }
  
  #content-article-2 .article__content {
    background: #FC5954;
  }
  
  #content-article-3 .article__content {
    background: #2FC97F;
  }
  
  .article__title,
  .article__text {
    color:$white;
    font-family:$roboto;
  }
  
  .article__title {
    font-weight:700;
    text-transform: uppercase;
  }

  .article__text {}
  
}