.brand--frontrow {
  @include theme-dark();
  background:#000;
  background-color:#000;
  
  .main-content {
    background-color:#1D1139;
    background-image: url('https://marketing-image-production.s3.amazonaws.com/uploads/ac11ad2640a5bd7c499839e1f737862571bee5455af87a464c0ecbc527d6bec18dec0f61eac938a2fe98e52f2142a9a04c70665a7079f18693e870f2f6690907.jpg');
    background-repeat: no-repeat;
  }
  
  .content-heading__logo img {
    width:256px;
    height:40px;
  }
  
  .content-heading__separator {
    background-color:#fff;
  }
  
  .content-heading__text {
    color:#fff;
    font-family:$roboto;
    font-weight:400;
  }
  
  .article__content {
    background: #1C1037;
  }
  
  .article__title,
  .article__text {
    color:#fff;
    font-family:$roboto;
  }
  
  .article__title{
    font-weight:700;
    text-transform: uppercase;
  }

  .article__text {}
  
}


