/* ==========================================================================
   #BODY
   ========================================================================== */

body {
  font-family:$openSans;
  font-weight: normal;
  line-height:1.4;
}

/* ==========================================================================
   #Global
   ========================================================================== */

table,
td {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

