/* ==========================================================================
   #CONFIG
   ========================================================================== */

/* ==========================================================================
   #TYPOGRAPHY
   ========================================================================== */

$openSans : 'Open Sans', sans-serif;
$roboto : 'Roboto', sans-serif;

/* ==========================================================================
   #COLORS
   ========================================================================== */

$white : #fff;
$black : #000;

/* ==========================================================================
   #FOLDER
   ========================================================================== */


/* ==========================================================================
   #RESPONSIVE
   ========================================================================== */
$mobileWidth : 620px;


