/* ==========================================================================
#TYPOGRAPHY
========================================================================== */

$openSans : 'Open Sans', arial, sans-serif;
$roboto : 'Roboto', arial, sans-serif;
$arialBlack : "Arial Black", "Arial Bold", arial;

/* ==========================================================================
  #COLORS
  ========================================================================== */

$white : #fff;
$black : #000;

/* ==========================================================================
  #FOLDER
  ========================================================================== */


/* ==========================================================================
  #RESPONSIVE
  ========================================================================== */
$mobileWidth : 620px;