

// init
///////////////////////////////////////////
@import 'variables';
@import 'reset';
@import 'mixins';
@import 'typography';

// mixins
///////////////////////////////////////////

// layout
///////////////////////////////////////////
@import 'layout/header';
@import 'layout/main';
@import 'layout/footer';

// elements
///////////////////////////////////////////

// components
///////////////////////////////////////////
@import 'components/content-heading';
@import 'components/article';
@import 'components/content-footer';

// themes
///////////////////////////////////////////
@import 'themes/fifty';
@import 'themes/dumaurier';
@import 'themes/johnplayer';
@import 'themes/frontrow';
@import 'themes/drifter';
@import 'themes/pallmall';
@import 'themes/iglo';

// Helper
///////////////////////////////////////////
@for $i from 1 through 20 {
 
  .spacer-#{$i * 5} {
    line-height: #{$i * 5 }px;
    font-size: #{$i * 5 }px;
  }

}

.container {
  @include padding-mobile();
}

.display-block {
  display:block;
}
  





