{% set brand = "drifter" %} 

{% extends "layout/base.twig" %} 

{% block content %}

{% include "partial/content-heading.twig" %} 

<table border="0" align="center" cellpadding="0" cellspacing="0" width="100%">

  <tr>
    <td>{{ macro.spacer('20') }}</td>
  </tr>

</table>

{% embed "embed/article.twig" with { 'index' : '1' } %}

    {% block image %}http://placehold.it/600x300{% endblock %}

    {% block title %}
        Upcoming new live performance by Vlebeze
    {% endblock %}

    {% block text %}
        Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa.
    {% endblock %}

    {% block link %}https://zyne.ca/{% endblock %}

{% endembed %}

<table border="0" align="center" cellpadding="0" cellspacing="0" width="100%">

  <tr>
    <td>{{ macro.spacer('20') }}</td>
  </tr>

</table>

{% embed "embed/article.twig" with { 'index' : '2' } %}

    {% block image %}http://placehold.it/600x300{% endblock %}

    {% block title %}
        Upcoming new live performance by Vlebez
    {% endblock %}

    {% block text %}
        Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa.
    {% endblock %}

    {% block link %}https://zyne.ca/{% endblock %}

{% endembed %}

<table border="0" align="center" cellpadding="0" cellspacing="0" width="100%">

  <tr>
    <td>{{ macro.spacer('20') }}</td>
  </tr>

</table>

{% embed "embed/article.twig" with { 'index' : '3' } %}

    {% block image %}http://placehold.it/600x300{% endblock %}

    {% block title %}
        Upcoming new live performance by Vlebeze
    {% endblock %}

    {% block text %}
        Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa.
    {% endblock %}

    {% block link %}https://zyne.ca/{% endblock %}

{% endembed %}

<table border="0" align="center" cellpadding="0" cellspacing="0" width="100%">

  <tr>
    <td>{{ macro.spacer('20') }}</td>
  </tr>

</table>

{% include "partial/content-footer.twig" %} 

{% endblock %}
