/* ==========================================================================
#RESET STYLES 
========================================================================== */
img {
  height: auto;

  line-height: 100%;
  text-decoration: none;

  border: 0;
  outline: none;
}
table {
  border-collapse: collapse !important;
}
body {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

/* iOS BLUE LINKS */
a[x-apple-data-detectors] {
  font-family: inherit !important;
  font-size: inherit !important;
  line-height: inherit !important;
  font-weight: inherit !important;
  text-decoration: none !important;

  color: inherit !important;
}
