<div class="c-banner">

<!--[if (gte mso 9)|(IE)]>
  <table width="600" role="presentation" class="c-banner">
    <tr>
      <td align="center">
<![endif]-->

  <div class="c-banner__container">
    <div class="c-banner__title">Morbi2 in sem quis dui placerat ornare</div>
    <div class="c-banner__subtitle">Pellentesque odio nisi, euismod in, pharetra a</div>
    <a class="c-banner__btn btn" href="#">Praesent dapibus</li></a>
  </div>

<!--[if (gte mso 9)|(IE)]>
      </td>
    </tr>
  </table>
<![endif]-->

</div>
