<div class="c-footer">

    <a href="#" target="_blank" class="c-footer__logo"><img src="http://via.placeholder.com/50x50"></a>

    <div class="c-footer__disclaimer">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</div>

</div>

