<div class="c-main">

  <div class="c-main__title">We create exceptional products</div>
  <div class="c-main__body">We're a software start-up based in Melbourne, Australia, designing and developing useful and enjoyable experiences for
    the web and beyond to make people’s lives easier.
    <br>Here's just some of the areas we excel at:</div>

</div>