<div class="c-main">

  <div class="c-main__container">

    <div class="c-main__title">Quisque sit amet</div>
    <div class="c-main__body">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</div>

  </div>

</div>